/* Este código es para eliminar cualquier estilo previo */
* {
    margin : 0;
    padding : 0;
}

.menu-izquierda {
    background-color: lightcoral;
    width: 25%;
    height: 125px;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-izquierda {
    width: 70px;
}
/* .texto-menu-izquierda {}
 */

